.App {
    --header_height: 60px;
}

.hw {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
}

.hw>div{
    width: 100%;
}

.hwTitle {


    margin-top: 100px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.82px;
    text-align: left;
    margin-left: 40px;
    color: black;

}