.container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.number {
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bolder;


}
